<script type="text/javascript">
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'commit_complexity_container',
            defaultSeriesType: 'bar',
            plotBackgroundImage: null
        },
        title: {
            text: 'Complexity',
            x: -20 //center
        },
        yAxis: {
            title: {
                text: 'Score'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        xAxis: {
            categories: []
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'top',
            verticalAlign: 'top',
            x: -10,
            y: -10,
            borderWidth: 0
        },
            series: <%= commit_complexity_graph_data(commit_scores).to_s.html_safe %>
    });
});

</script>
<div id="commit_complexity_container"></div>