<script type="text/javascript">
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'fix_cache_container',
            defaultSeriesType: 'bar',
            plotBackgroundImage: null
        },
        title: {
            text: 'Fix Cache',
            x: -20 //center
        },
        yAxis: {
            title: {
                text: 'Score'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        xAxis: {
            categories: []
        },
        tooltip: {
            formatter: function() {
                    return this.series.name + '<br />Score: ' + this.y;
            }
        },
        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function() {
                            window.open('<%= repo_path(repo.id) %>/file/' + this.series.name);
                        }
                    }
                },
                marker: {
                    lineWidth: 1
                }
            },
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'top',
            verticalAlign: 'top',
            x: -10,
            y: -10,
            borderWidth: 0
        },
            series: <%= fix_cache_graph_data(hot_spots).to_s.html_safe %>
    });
});

</script>
<div id="fix_cache_container"></div>