<div class="well">
  <h2>Fix Cache Info</h2>
  <p>Total files in cache: <%= @repo_presenter.cache_count %></p>
</div>
<div class="well" id="fixcache_graph">
    <script type="text/javascript">
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'fix_cache_container',
                defaultSeriesType: 'column',
                plotBackgroundImage: null
            },
            title: {
                text: 'Fix Cache',
                x: -20 //center
            },
            yAxis: {
                title: {
                    text: 'Score'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            xAxis: {
                categories: [],
                labels: {
                    enabled: false
                }
            },
            tooltip: {
                formatter: function() {
                        return this.series.name + '<br />Score: ' + this.y;
                }
            },
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                window.open('<%= repo_path(@repo.id) %>/file/' + this.series.name);
                            }
                        }
                    },
                    marker: {
                        lineWidth: 1
                    }
                },
                bar: {
                    dataLabels: {
                        enabled: false
                    },
                    borderWidth: 2
                }
            },
            legend: {
                enabled: false,
                layout: 'vertical',
                align: 'top',
                verticalAlign: 'top',
                x: -10,
                y: -10,
                borderWidth: 0
            },
                series: <%= fix_cache_graph_data(@repo.hot_spots).to_s.html_safe %>
        });
    });

    </script>

    <div style="width:100%; overflow: auto;"><div id="fix_cache_container" style="width:<%= graph_size(@repo.hot_spots.count) %>px; height: 600px;"></div></div>
</div>