<div class="well">

  <h2>Defects for <%= @repo.name %></h2>
  <%= render "zendesk_defects", :defects => @zendesk_defects %>
  <br />
  <%= render "pivotal_defects", :defects => @pivotal_defects %>

</div>