repo_name:
  group1:
    emails:
      - test@example.com
    files:
      - test.rb
    committers_to_ignore:
      - test_email@example.com
  group2:
    emails:
      - test2@example.com
        files:
      - test_file.rb