<div class="subnav navbar">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li><a href="<%= subscription_repo_path(repo.id) %>">Subscription</a></li>
      <li><a href="<%= repo_alerts_path(repo.id) %>">Alerts</a></li>
      <li><a href="<%= repo_tags_path(repo.id) %>">Tags</a></li>
      <li><a href="<%= repo_defects_path(repo.id) %>">Defects</a></li>
    </ul>
  </div>
</div>